<% include ../common/header.ejs %>

<!--tool code start-->

<div class="tool container is-fluid">
  <h1 class="tool-title title is-4" align="center">JSON Beautifier</h1>
  <div class="tool-editor" id="in_editor">{"hello":"world", "Test":["hello"]}</div>
  <div class="tool-editor" id="out_editor">{
    "hello": "world",
    "Test": [
        "hello"
    ]
}
  </div>
  <br>
  <div class="tool-buttons">
    <a class="button is-info left" id="load_button" style="margin: auto;"><strong>Load file</strong></a>
    <a class="button is-info right" id="download_button" style="margin: auto;"><strong>Download file</strong></a>
  </div>
</div>

<!--tool code end-->

<% include ../common/footer.ejs %>

<script src="http://ajaxorg.github.io/ace/build/src-noconflict/ace.js"></script>
<script src="/assets/js/app.js" type="text/javascript"></script>
<script src="/assets/js/jsonBeautifier.js" type="text/javascript"></script>