<% include common/header.ejs %>

<!--tool code start-->

<div class="tool container is-fluid avatar-container">

    <h1 class="tool-title title is-4" align="center">Avatar picture generating tool</h1>
    

<% include common/api_notification.ejs %>

    <div class="box left-box">
        <div class="content">
        <p>
            <strong>Enter name to generate picture:</strong><br> <small>(name is needed to generate avatar based on it)</small>
        </p>
        </div>
        <div class="level-left">
            <div class="field is-horizontal">
                <div class="control">
                <input id="name" class="input is-info" type="text" placeholder="Your name">
                </div>
                <div class="control left-btn">
                    <button id="confirm-btn" class="button is-info">Confirm</button>
                </div>
            </div>
        </div>
    </div>

    <div class="box right-box">
        <div class="content">
            <p align="left">
                <strong>Result:</strong>
            </p>
            <div id="temp-container">
                <section id="temp" class="hero is-info">
                    <div class="hero-body">
                        <div class="container">
                            <h1 class="title is-centered" align="left">
                                It will be replaced by your image
                            </h1>
                        </div>
                    </div>
                </section>
                <div id="loader" class="lds-circle"><div></div></div>
                <img id="image" src="">
            </div>
        </div>
    </div>

</div>

<!--tool code end-->

<% include common/footer.ejs %>

<script src="/assets/js/avatar.js" type="text/javascript"></script>
<script>
        function download() {
            let data = $("#download-btn").attr("data-src");
            var element = document.createElement('a');
            element.setAttribute('href', data);
            element.setAttribute('download', "avatar.jpeg");
            let img = document.createElement("img");
            img.src = data;
            element.appendChild(img);
    
            element.style.display = 'none';
            document.body.appendChild(element);
    
            element.click();
    
            document.body.removeChild(element);
        }
</script>
