<% include common/header.ejs %>

<!--home code start-->

<div class="container">
    <h1 class="tool-title title is-4" align="center">Home</h1>
    <div class="box">
        Thanks for visiting web-tools. Below is a collection of various tools that our team found helpful for many years. 
        They are all available here for free for the developers and users out there who might find them useful. 
        This web-site is the gui of these tool, but you also can use all these tools by API. 
        Please read the <a href="/api">documentation</a>.
        <h1 class="tool-title title is-6">Here is all available tools:</h1>
        <div style="font-size:20px;">
            <div class="tool-elem">
                <a>toolname</a> - description
            </div>
            <div class="tool-elem">
                <a>toolname</a> - description
            </div>
            <div class="tool-elem">
                <a>toolname</a> - description
            </div>
            <div class="tool-elem">
                <a>toolname</a> - description
            </div>
        </div>
    </div>
</div>

<!--home code end-->

<% include common/footer.ejs %>
