<% include common/header.ejs %>

<!--login code start-->
    <div class="login card">
        <div class="card-content">
            <h1 class="title">
                <img src="/assets/img/logo.png" width="25" height="25" id="brand-img">
                <span>Welcome to web-tools!</span>
            </h1>
            <span>Please login in or <a href="/signup">create an account</a>.</span>
            <input id="email" class="input" type="email" placeholder="Email">
            <input id="password" class="input" type="password" placeholder="Password">
            <button class="login-button button is-info is-medium is-fullwidth">Log in</button>
        </div>
    </div>
<!--login code end-->

<% include common/footer.ejs %>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="../assets/js/login.js"></script>

</body>
</html>