body{
	background: #F5F5F5;
}

footer{
	background: white !important;
	border-top: 1px solid #209CEE;
	padding: 20px !important;
}

.nav-all{
	background: white;
	width: 100%;
	border-bottom: 1px solid #209CEE;
}

#brand{
	font-size: 20px;
}

#brand-img{
	margin-right: 5px;
}

#out_editor{
	float: right;
	font-size: 20px;
}

#in_editor{
	float: left;
	font-size: 20px;
}

.editor { 
    height: 600px;
    width: 49%;
}

.editors{
	margin-top: 20px;
}

