<!--footer code start-->

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>web-tools</strong> by <a>imaltsev</a>, <a>sfedusov</a>, <a>dkravchenko</a>. Peace!
    </p>
  </div>
</footer>

<!--footer code end-->