<!DOCTYPE html>
<html>
<head>
  <title>smart-tools</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" />
  <!-- LESS основний файл -->
  <link rel="stylesheet/less" type="text/css" href="/assets/less/main.less" />
   <!-- LESS JavaScript компілятор -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>

   <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
   <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
 
</head>
<body>

<!--header code start-->

<div class="header">
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" id="brand" href="/">
          <img src="/assets/img/logo.png" id="brand-img">
          <span>web-tools</span>
        </a>
      </div>
  
      <div id="navbar" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/home">Home</a>
          <a class="navbar-item"  href="/api">API</a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">Tools</a>
            <div class="navbar-dropdown">
              <%for(var i=0; i< tools.length; ++i){%>
                <a href="/tool/<%=tools[i].code%>" class="navbar-item"><%=tools[i].name%></a>
              <%}%>
            </div>
          </div>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-light" href="/login">Log in</a>
              <a class="button is-info" href="/signup"><strong>Sign up</strong></a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  
  <!--header code end-->