
<% include ../common/header.ejs %>

<div style="padding:50px; width:1000px; margin:auto;">
    <span class="title is-1">Oops!</span><br><br>
    <span class="title is-3">We can`t seem to find the page you`re loking for.</span><br><br>
    <span class="title is-4">Error code: 404</span><br><br>
    <span class="title is-4"><a href="/">Back home</a></span><br><br>
</div>

<% include ../common/footer.ejs %>

<script src="../assets/js/login.js"></script>